nombre{
    font-size: 2rem;
    display: block;
    border: solid 2px black;
    width: 500px;
    padding: 10px;
    margin: 10px;
    font-family: verdana;
    font-weight: bold;
}
diasentrega{
    color: red;
    display: block;
    padding-left: 50px;
}
#especial{
    background-color: red;
    
}