/* -------------------- CONFIG GLOBAL ---------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f2f2f2;
    color: #111;
}


/* -------------------- HEADER ---------------------- */

header {
    background: linear-gradient(to right, #000, #2b2b2b);
    padding: 20px;
    color: white;
    text-align: center;
}

header h1 {
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px black;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

nav a:hover {
    opacity: 0.7;
}


/* ---------- SUBMENÚ ---------- */

.submenu {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    background: #111;
    padding: 10px;
    list-style: none;
}

.submenu:hover .dropdown {
    display: block;
}

.dropdown li {
    padding: 5px 10px;
}

.dropdown li a {
    color: #fff;
}


/* -------------------- HERO ---------------------- */

.hero {
    position: relative;
    width: 100%;
}

.hero img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    opacity: 0.85;
}

.hero-text {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 6px black;
}


/* -------------------- PRESENTACIÓN ---------------------- */

.presentacion {
    padding: 40px;
    width: 85%;
    margin: auto;
}

.presentacion h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.presentacion p {
    margin-bottom: 15px;
    line-height: 1.6;
}

/* Float de ejemplo del Tema 9 */
.img-float {
    width: 280px;
    margin: 10px 25px 10px 0;
    float: left;
    border-radius: 12px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}


/* -------------------- FOOTER ---------------------- */

footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
